<h1 appHighLight>This is component About!</h1>
<h1 [appHighLight]="myColor">This is component About!</h1>
<h1 [appHighLight]="'gray'">This is component About!</h1>
<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'user'">
    <p>User is logged in...</p>
  </li>
  <li *ngSwitchCase="'admin'">
    <p>Admin is logged in...</p>
    <app-home></app-home>
  </li>
  <li *ngSwitchDefault>
    <p>Please choose login name</p>
  </li>
</ul>

<span>Counter = {{counter}}</span>
<br />
<span>Counter^2 = {{counterBP}}</span>
