<div class="test">
  <h3>This is component Home</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo optio, porro tenetur cum quae eaque sit velit enim
    provident! Ipsum a vero quos, tempora doloribus possimus? Quaerat ab dolore harum?</p>
  <!-- <input type="text" [(ngModel)]="age" /> -->
  <!-- <h2>Hello {{name}} </h2> -->
  <!-- <h3>Your age is {{age}} </h3> -->
  <!-- <h2 *ngIf="age <= 18">You are young</h2>
  <h2 *ngIf="age > 18">You are old</h2> -->

  <!-- <div *ngIf="age <= 18 ; then young ; else old"></div>
  <ng-template #young>
    <h2>You are young</h2>
  </ng-template>
  <ng-template #old>
    <h2>You are old</h2>
  </ng-template>
  <button (click)="resetName()">Reset name</button> -->
  <h1>Fruit</h1>
  <div *ngFor="let item of fruit; let i= index">
    <li>{{i+1}}. {{item}}</li>
  </div>
  <br />
  <table class="table">
    <tr>
      <th>STT</th>
      <th>Fruit</th>
      <th>Price</th>
      <th>Sale</th>
    </tr>
    <tr *ngFor="let item of fruit2; let i= index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td class="right"><span [ngClass]="{'negativeNumber':item.price<40}">{{item.price}}</span></td>
      <td><span>{{item.sale | onSale | uppercase}}</span></td>
    </tr>
  </table>
</div>
